<!--  <h2>List of Claims</h2>

  <ul>
      <li *ngFor="let claim of claims">
        <p>{{claim}}</p>
      </li>
  </ul>

-->

  <div class="row">
    <div class="offset-10 col-md-2">
      <a href="#">List of Claims</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped table-over">
          <thead>
            <tr>
              <th>Type</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of claims">
              <td>{{item.type}}</td>
              <td>{{item.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
