
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Acceso Denegado</h1>

<h3>Usted no esta autorizado para ingresar a esta página</h3>
<p>
    Puedes iniciar <a asp-controller="Account" asp-action="Logout">sesión con otra cuenta.</a>.
</p>